<div class="kanban-hello-world-widget">
  <h3>Kanban Hello World Widget</h3>
  <p>Hello World from Kanban Plugin!</p>
  <p>現在のユーザー: <%= @user.name %></p>
  <p>ユーザーID: <%= @user.id %></p>
  <p>ログイン名: <%= @user.login %></p>
</div> 